.barra-lateral img{
    position: absolute;
    width: 100px;
    bottom: 10%;
    z-index: 8;
}

button img:hover{
    border-radius: 2%;
    background-image:linear-gradient(to top right,#38236d, #350f94, #3100a5);
}

.sessao-anime-carrocel {
    display: grid;
    grid-template-columns: 20% auto;
    margin: 0px auto 40px 10px;
    width: 100%;
}  

.detalhes-anime-carrocel{
    grid-column: 1/3;
    grid-row: 2;
    z-index: 3;
    padding: 1%; padding-bottom: 0px;
    max-width: 60%;
}

.imagem-detalhes-carrocel{
    z-index: 2;
    width: 70%; height: 100%;
    filter: saturate(2);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.034) 85%);
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.5);
    grid-column: 1/3;
    grid-row: 1/3;
}

.logo-anime-carrocel{
    width: 200px;
}

.descricao-carrocel {
    margin-top: 10px;
    padding-bottom: 1%;
}
#texto-anime{
    font-size: 180%;
}

.detalhes-anime-carrocel,
.imagem-detalhes-carrocel {
    transition: opacity 250ms ease;
    opacity: 1; 
}

@media screen and (max-width:760px){
    .logo-anime-carrocel{
        width: 20%;
    }
    .sessao-anime-carrocel {
        flex-direction: column-reverse;
        width: 100%;
    }
    .detalhes-anime-carrocel {
        flex-direction: row;
        justify-content: space-between;
    }
    #texto-anime {
        font-size: 110%;
        text-align: left;
    }
    .imagem-detalhes-carrocel{
        width: 100%; height: auto;
        margin-bottom: 1%;
        mask-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.377) 50%, rgba(0, 0, 0, 0) 100%);
    }
    .descricao-carrocel {
        max-height: 40%;
    }
    button img{
        border: 2px white solid;
    }

}
@media screen and (max-width:460px) {
    #texto-anime {
        font-size: 90%;
    }
    .detalhes-anime-carrocel {
        flex-direction: column;
        align-items: center;
    }
    .descricao-carrocel {
        max-width: 100%;
    }
}
