    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    body {
        max-width: 100vw;
        position: relative;
        background-color: #0d0d10;
    }

    main.active {
        margin-right: 0;
        margin-left: 0;
    }

    .voltar-home{
        background-color: rgba(20, 0, 136, 0.671) ;
        border: rgba(255, 255, 255, 0.075) 1px solid;
    }

    header{
        color: white;
        background-image: linear-gradient(to bottom, rgb(75, 0, 160) 50%, rgba(75, 0, 160, 0.842)) ;
        position: fixed; top: 0;  z-index: 6;
        height: 60px; width: 100%;
        box-sizing: border-box;
        
    }

    header h1{
        font-size: 25px;
    }

    h1{
        font-size: 30px;
        margin-left: 10px;  
    }

    h2{
        font-size: 35px;
        letter-spacing: 0em;
        margin-left: auto; margin-right: auto;   
        animation: none;
    }

    h3{
        color: white;
        font-family: "Anton", sans-serif;
        font-weight: 200; font-style: normal;
        font-size: 20px;
    }

    .secao-inicial h2{
        margin-left: 0px; margin-right: auto;
        font-size: 200%;
    }

    .secao-inicial{
        margin-left: 0px; margin-right: 0px;
        box-sizing: border-box;
        width: 100%;
        display: flex; flex-direction: column-reverse; align-items: flex-start; 
        background-color: rgba(85, 12, 255, 0);
        padding: 0px;
        margin-top: 62px;
    }

    .texto-secao-inicial{
        width: 100%;
        margin-left: 0px;
    }

    .secao-inicial img:not(.logotipo-inicial){
        width: 70%;
        filter:saturate(2);
        border-radius: 15px; 
        transition: none;
        border-radius: 5px;
        mask-image:radial-gradient(circle farthest-side at center left, rgba(0, 0, 0, 0.89) 20%, rgba(0, 0, 0, 0));
    }

    .secao-inicial p{
        margin-top: 5px;     margin-right: 5px;
        width: 100%;
        padding: 5px 2px;
        box-shadow: none;
        text-align: left;
        line-height: 1.0;
    }

    .box-conteudos{
        display: flex; 
        flex-direction: column;
        align-items: center;  
        width: 100%;
    }

    .box-conteudos article{
        margin-top: 10px; margin-bottom: 10px;
        margin: 0px;
        width: 100%;
        padding: 5px 2px;
        box-sizing: border-box;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        box-shadow: none;
    } 
    .texto-secao-inicial  .logotipo-inicial{
        width: 20%;
        margin-top: 10px;
    }
    .texto-secao-inicial .informacoes-especiais{
        opacity: 0.7;
        font-style: normal; font-weight: bold;
    }

    .box-conteudos article p{
        line-height: 1.0;
        background-color: #ffffff00;
        border: rgba(255, 255, 255, 0) 0px solid;
        text-align: center;
    } 
    .box-conteudos article img:not(.logotipo-inicial){
        width: 65%;
    }

    .box-texto{
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    .box-texto article{
        width: 85%;
        text-align: center;
        background-color: #ffffff00;
        border: rgba(255, 255, 255, 0) 0px solid;
        display: inline-flex;
        flex-direction: column;
        box-shadow: none;
    } 

    .box-texto article p{
        line-height: 1.0;
        text-align: center;
        background-color: #151516;
        background-color: #ffffff00;
        border: rgba(255, 255, 255, 0.055) 1px solid;
    } 

    .box-texto article img{
        width: 70%;
        filter: brightness(90%);
        margin-left: auto; margin-right: auto;
    }
    .box-texto article img:hover{

        width: 70%;
        filter: none;
    }

    .outros-main{
        display: inline-flex;
        flex-direction: row;
        box-sizing: border-box;
        width: 60%;
        margin-left: 20px;
        border: 1px solid rgba(255, 255, 255, 0.055);
        padding: 20px;
        overflow: auto;
    }
    .outros-main article img{
        width: 100px;
        height: 90px;
    }

    .outros-main article:hover{
        background-color: rgba(85, 12, 255, 0);
        padding: 10px 5px;
    }

    iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }

    .barra-lateral{
        background-color: rgba(0, 0, 0, 0.932);
        font-size: 8px;
    }
    .openbtn {
        border: none; border-radius: none;
        padding: 1%;
        background-color: #ffffff00;
    }

    .openbtn:hover{
        border: none;
    }
    
    button img{
        top: 1%; right: 1%;
        width: 40px; height: 40px;
        position: fixed;
        opacity: 0.6;
        border: 2px white solid;
        border-radius: 50%;
        padding: 2px;
    }
