.main-menu{
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 50vh; height: 70vh;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    
    display: none;
    flex-direction: column;
    align-items: flex-start;

    padding: 2rem;
    transition: ease-in-out all 50ms;
}

.main-menu > *{
    flex: 1;
}

.menu-option{
    opacity: 0;
    
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-size: 18pt;

    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0.2rem;
    cursor: pointer;
    transition: all ease-in-out 100ms;
    border-left: 3px solid rgba(255, 255, 255, 0.466);
    padding-left: 1rem;
}

.menu-option:hover{
    transform: translateX(10%);
    border-left: 3px solid #ffffff;
    border-radius: 0.3rem;
}

.left{
    top: 50%;
    left: 2vw;
    transform: translateY(-50%);
    width: 40vh; height: 70vh;
}

.image-tools{
    display: flex;
    flex-direction: row;
    gap: 0;
}

.image-tools img:hover{
    filter: brightness(130%) contrast(80%);
}
