.main-menu{
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 50vh; height: 70vh;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    
    display: none;
    flex-direction: column;
    align-items: flex-start;

    padding: 2rem;
    transition: ease-in-out all 50ms;
}

.main-menu > *{
    flex: 1;
}

.menu-option{
    opacity: 0;
    
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    color: rgba(255, 255, 255, 0.658);
    font-size: 18pt;

    background-color: transparent;
    outline: none;
    border: none;
    padding: 0.2rem;
    cursor: pointer;
    transition: all ease-in-out 100ms;
}

.menu-option:hover{
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 0.678);
    transform: translateX(10%);
}

.left{
    top: 50%;
    left: 2vw;
    transform: translateY(-50%);
    width: 40vh; height: 70vh;
}

