.side-card{
    position: absolute;
    z-index: 3;
    
    background-image: linear-gradient(rgba(255, 255, 255, 0.062), rgba(0, 0, 0, 0.842));
    backdrop-filter: blur(7px);
    
    opacity: 0;
    width: 80vh; height: 65vh;
    top: 50%; right: 5vw;
    transform: translateY(-50%);
    
    display: none;
    flex-direction: column;
    align-items: center;

    gap: 0.2rem;
    padding: 0.5rem;
    transition: ease-in-out all 50ms;
}

.side-card  button{
    font-family: "Google Sans Code", monospace;
    font-size: 16pt;
        
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
    justify-content: center;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.top-bar, .side-card, .side-conteudo{
    border: 1px solid rgba(255, 255, 255, 0.164);
}

.top-bar{
    background-color: rgb(27, 27, 27);
    width: 100%;
    box-sizing: border-box;
    flex: 0.1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.top-bar > h1, .side-conteudo h2{
    font-family: "Google Sans Code", monospace;
}

.side-conteudo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 0.8rem;
    flex: 0.8;
    width: 100%;
    max-height: 50vh;
    overflow-y: auto;
    padding: 0.8rem;
}

.side-conteudo p {
    color: rgba(255, 255, 255, 0.658);
}

.side-conteudo p::selection{
    background-color: rgb(185, 185, 185);
    color: rgb(17, 17, 17);
}

.side-conteudo > * {
    flex: 1;
}

.side-conteudo h2{
    font-size: 14pt;
    color: rgb(255, 240, 106);
}

.side-conteudo::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.side-conteudo::-webkit-scrollbar-thumb {
    border: 1px solid rgb(58, 58, 58);
}

.side-conteudo button{
    background-color: rgb(189, 189, 189);
    color: rgb(17, 17, 17);
    gap: 2rem;
}

.side-conteudo > *{
    color: rgb(17, 17, 17);
}