.side-card{
    position: absolute;
    z-index: 3;
    background-color: #0a0c0f;
            
    opacity: 0;
    width: 80vh; height: 65vh;
    top: 50%; right: 5vw;
    transform: translateY(-50%);
    
    display: none;
    flex-direction: column;
    align-items: center;

    gap: 0.2rem;
    padding: 0.5rem;
    transition: ease-in-out all 50ms;
}

.side-card  button{
    font-family: "Google Sans Code", monospace;
    font-size: 16pt;
        
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
    justify-content: center;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.side-card, .side-conteudo{
    border: 1px solid rgba(255, 255, 255, 0.144);
    border-radius: 0.2rem;
}

.top-bar{
    background-image: linear-gradient(#0d1117, #080b0f);
    width: 100%;
    box-sizing: border-box;
    flex: 0.1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.top-bar > h1, .side-conteudo h2{
    font-family: "Google Sans Code", monospace;
}

.top-bar > button{
    color: white;
}

.side-conteudo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 0.8rem;
    flex: 0.8;
    width: 100%;
    max-height: 50vh;
    overflow-y: auto;
    padding: 0.8rem;
}

.side-conteudo p {
    color: rgba(255, 255, 255, 0.658);
}

.side-conteudo > * {
    flex: 1;
}

.side-conteudo h2{
    font-size: 14pt;
    color: rgb(218, 154, 255);
}

.side-conteudo::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.side-conteudo::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
}

.nave{
    color: rgb(255, 255, 255);
    gap: 0.5rem;
    transition: 50ms ease-in-out all;
}

.nave:hover{
    border-bottom: 1px solid rgba(255, 255, 255, 0.384);
    border-radius: 0.2rem;
}
