*{
    margin: 0;
}

body{
    margin: 0;
    padding: 0;

    background-image: linear-gradient(rgb(11, 13, 29), rgb(5, 5, 12));
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
}

html, body {
    overflow: hidden;
}

h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: white;
    font-size: 18pt;
    margin: 2px 0px;
}

.info-title{
    font-size: 25pt;
    margin-bottom: 1rem;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, rgb(20, 45, 160), rgb(11, 13, 32), rgb(7, 8, 17)) 1;
}

h2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: white;
    font-size: 24pt;
}

h3{
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    color: rgba(255, 255, 255, 0.856);
    font-size: 12pt;
}

p{
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    color: rgba(255, 255, 255, 0.678);
    font-size: 12pt;
}

.mb-05{
    margin-bottom: 0.5rem;
}

main{
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

section{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.self-image{
    width: 15vw; height: 15vw;
    background: 
        linear-gradient(45deg, rgb(7, 8, 17), rgb(11, 13, 32), rgb(20, 45, 160)) border-box;

    border-radius: 50%;
    display: block;
    margin: 1rem 0px;
    padding: 0.5rem;

    transform-origin: center center;
    backface-visibility: hidden;

    transition: all 150ms ease-in-out;
}

.self-image:hover {
    opacity: 0.7;

    background: 
        linear-gradient(45deg, rgb(21, 44, 255), rgb(88, 105, 255), rgb(255, 255, 255)) border-box;
   
    cursor: pointer;
}

@media (max-width: 800px){
    .self-image{
        width: 40vw; height: 40vw;
    }
}

.main-button, .social-medias-button{
    background-color: transparent;
    outline: none;
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.main-button{
    border-radius: 5px;
    padding: 1.2rem 1.5rem;
    background-color: none;
    background-image: linear-gradient(45deg, rgb(7, 8, 17), rgb(11, 13, 32), rgb(18, 34, 107));
}

.main-button:hover{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.63), rgba(255, 255, 255, 0.918), rgb(255, 255, 255));
}

.main-button > *{
    font-size: 18pt;
    text-align: center;
    color: white;
}

.main-button:hover > *{
    color: rgb(14, 20, 66);
}

.social-medias{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
    justify-content: center;
}

.social-medias-button{
    filter: drop-shadow(-1px 2px 2px #ffffff54);
}

.social-medias-button > *{
    color: white;
    font-size: 20pt;
}

.social-medias-button:hover{
    transform: translateY(-40%);
}

.blur-box{
    width: 100vw; height: 100vh;
    background-color: rgba(5, 10, 27, 0.596);
    
    backdrop-filter: blur(7px);
    position: absolute;
    top: 0; left: 0;
    z-index: 1;

    display: none;
    opacity: 0;
    transition: ease-in-out all 50ms;
}