*{
    margin: 0;
}

body{
    margin: 0;
    padding: 0;

    background-image: linear-gradient(#0d1117, #080b0f);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
}

html, body {
    overflow: hidden;
}

h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: white;
    font-size: 18pt;
    margin: 2px 0px;
}

.info-title{
    font-size: 25pt;
    margin-bottom: 1rem;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, #212830, #191f25, rgba(7, 8, 17, 0)) 1;
}

h2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: white;
    font-size: 24pt;
}

h3{
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    color: rgba(255, 255, 255, 0.856);
    font-size: 12pt;
}

p{
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    color: rgba(255, 255, 255, 0.678);
    font-size: 12pt;
}

.mb-05{
    margin-bottom: 0.5rem;
}

.row-buttons{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

main{
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

section{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.self-image{
    width: 15vw; height: 15vw;
    
    border: 3px solid #212830;
    
    border-radius: 50%;
    display: block;
    margin: 1rem 0px;
    padding: 0.4rem;

    transform-origin: center center;
    backface-visibility: hidden;

    transition: all 150ms ease-in-out;
}

@media (max-width: 800px){
    .self-image{
        width: 40vw; height: 40vw;
    }
}

.main-button, .social-medias-button{
    background-color: transparent;
    outline: none;
    border: none;

    display: flex;
    
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.main-button{
    font-family: "Google Sans Code", monospace;
    gap: 0.4rem;
    background-color: #212830;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
}

.main-button > *{
    color: white;
}

.main-button:hover{
    background-color: #ffffff;
}

.main-button:hover > *{
    color: #080b0f;
}

.social-medias{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
    justify-content: center;
}

.social-medias-button{
    filter: drop-shadow(-1px 2px 2px #ffffff54);
}

.social-medias-button > *{
    color: white;
    font-size: 24pt;
}

.social-medias-button:hover{
    transform: translateY(-30%);
}

.blur-box{
    width: 100vw; height: 100vh;
    background-color: #05060773;
    
    backdrop-filter: blur(7px);
    position: absolute;
    top: 0; left: 0;
    z-index: 1;

    display: none;
    opacity: 0;
    transition: ease-in-out all 50ms;
}

*::selection{
    background-color: white;
    color: #07090c;
}
