::-webkit-scrollbar {
  width: 12px; /* barra vertical */
  height: 12px; /* barra horizontal */
}
::-webkit-scrollbar-track {
  background: #09387a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #9bb2db, #5571a8);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #3c5585, #1e3e6b);
}

a{
  color: white;
  transition: all ease-in-out 100ms;
}

a:hover{
  background-color: #09387a;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  padding: 4px;
  border-radius: 8px;
}
a:visited {
  color: rgb(255, 255, 255);
}

body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #070a0e;
      color: #fff;
      overflow-x: hidden;
    }

    header {
      text-align: center;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid #333;
    }

    header h1 {
      font-family: "Electrolize", sans-serif;
      font-weight: bolder;
      font-size: 2.5rem;
      margin: 0px;
    }

    header h2 {
      font-family: "Zain", sans-serif;
      font-size: 2rem;
      color: #bbb;
      margin: 0px;
    }


    .logo {
      width: 80px;
      height: 80px;
      margin: 0 auto 0.5rem auto;
      background: #ffffff;
      border-radius: 15%;
    }


    nav {
      display: flex;
      justify-content: center;
      gap: 2rem;
      background-image: linear-gradient(#2d3136, #272c33)  ;
      padding: 0rem 1rem;
      position: sticky;
      top: 0;
      z-index: 10;
    }

    nav a {
      font-family: "Zain", sans-serif;
      color: #070a0e;
      text-decoration: none;
      font-size: 1.5rem;
      padding: 0.3rem 0.6rem 0rem 0.6rem;
    }

    nav a.active {
        color: #ffffff;
        border-bottom: #ffffff 3px solid;
    }

    nav a:hover {
        color: white;
        background: #070a0e;
        font-size: 1.6rem;
        border-radius: 0px;
    }

    mark{
      background-color: #1066df;
      color: white;
      font-weight: bolder;
      padding: 4px;
      border-radius: 8px;
      font-family: "Delius Swash Caps", cursive;
      transition: all 250ms ease-in-out;
    }
    .section {
      max-width: 90vw;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      padding: 0.4rem;
      transition: opacity 0.6s ease;
      margin: auto;
    }

    .section.active {
      display: flex;
      opacity: 1;
    }

    .section h3 {
        font-family: "Zain", sans-serif;
        text-align: center;
        font-size: 2.5rem;
        margin: 0.5rem 0rem;
    }

    .section p {
      max-width: 600px;
      text-align: justify;
      line-height: 1.5;
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
    }

    .section img {
        width: 300px;
        transition: transform 0.3s ease;
    }

    .section img:hover {
      transform: scale(1.05);
    }

    .list-cards{
        overflow-x: scroll;
        width: 80vw;
        display: flex;
        flex-direction: row;
    }
    .card{
        flex: 1;
        flex-wrap: wrap;
        background-color: #191e24;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }
    .card:hover{
        background-color: #09387a;
    }
    .card:nth-child(odd):hover{
        background-color: #09387a;
    }
    .card:nth-child(odd){
        background-color: #242931;
    }
    .card h3{
        font-size: 1.5rem;
        line-height: 0.8;
    }
    .card img{
        width: 130px; height: 130px;
        border-radius: 50%;
        padding: 8px;
        border: 4px white solid;
        transition: all 100ms ease-in-out;
    }
    .card img:hover{
        border-radius: 4%;
    }

    #imagem_Central{
      width: 300px; height: 150px;
      object-fit: cover;
      object-position: center;
      transition: all ease-in-out 500ms;
    }

    @media (max-width: 768px) {
      nav {
        flex-wrap: wrap;
        gap: 1rem;
      }
      header h1 {
        font-size: 2rem;
      }
      header h2 {
        font-size: 1.5rem;
      }
      .section img {
        width: 180px;
      }
      .section p {
        text-align: left;
      }
      .card img{
        width: 100px; height: 100px;
      }
    }

    @media (max-width: 280px) {
      #imagem_Central{
        width: 150px; height: 150px;
      }
    }